# Directories
__pycache__/

# Sphinx
docs/_build/
docs/examples/
docs/api/

# Pytest and coverage related
htmlcov
.coverage
.pytest_cache/

# Examples related
examples/educational/filters/

# setuptools_scm
empymod/version.py

# Build related
empymod.egg-info/
