# Directories
__pycache__/

# Sphinx
docs/_build/
docs/api/empymod*
docs/savefig/
docs/gallery/*/
docs/my*.json
docs/my*.txt

# Pytest and coverage related
htmlcov
.coverage
.pytest_cache/

# Examples related
examples/educational/filters/

# setuptools_scm
empymod/version.py

# Build related
.eggs/
build/
dist/
empymod.egg-info/
.idea/empymod.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
private-dev/tests.py
private-dev/tests.py
private-dev/tests.py
