prune tests
prune .github
exclude setup.cfg
exclude requirements-dev.txt
exclude requirements.txt
include README.rst
include NOTICE
exclude MANIFEST.in
exclude Makefile
include LICENSE
include CREDITS.rst
exclude CHANGELOG.rst
exclude .gitignore
exclude .coveragerc
