prune docs
prune tests
prune examples
prune .github
exclude MANIFEST.in
exclude CHANGELOG.rst
exclude Makefile
exclude .gitignore
exclude .readthedocs.yml
exclude .git_archival.txt
exclude .gitattributes
exclude pyproject.toml
