# GLOBAL REQUIREMENTS
-r requirements.txt

# SOFT DEPENDENCIES
scooby
matplotlib

# SETUP RELATED
setuptools_scm

# FOR DOCUMENTATION
sphinx>3
numpydoc >= 0.9
sphinx_numfig
# A fix that RTD did not show _html_repr_ was made after v0.7.0. Once
# the next version of sphinx-gallery is out this line should change back to:
# sphinx_gallery
git+git://github.com/sphinx-gallery/sphinx-gallery.git#egg=sphinx-gallery
memory_profiler
sphinx_rtd_theme

# FOR TESTING
pytest
coveralls
pytest_cov
pytest_mpl
pytest_flake8
