# GLOBAL REQUIREMENTS
-r requirements.txt

# SOFT DEPENDENCIES
scooby
# https://github.com/matplotlib/matplotlib/issues/21688
matplotlib != 3.5.0

# FOR TESTING
asv
flake8
pytest
coveralls
pytest_cov
pytest_mpl
pytest-console-scripts
