# GLOBAL REQUIREMENTS
-r requirements.txt

# SOFT DEPENDENCIES
scooby
# https://github.com/matplotlib/matplotlib/issues/21688
# Keep an eye on the issue to see if it will be resolved!
matplotlib != 3.5.0, != 3.5.1

# SETUP RELATED
setuptools_scm

# FOR DOCUMENTATION
sphinx > 3
numpydoc >= 0.9
sphinx_panels
sphinx_numfig
sphinx_gallery
memory_profiler
pydata_sphinx_theme
sphinx_automodapi
ipykernel

# FOR TESTING
asv
pytest
coveralls
pytest_cov
pytest_mpl
pytest_flake8
