### Without Version Specifiers
numpy
numexpr
python-dateutil
sphinxcontrib-napoleon
#
### sphinx fixed at 1.6.7
# fails otherwise at the moment
# see https://github.com/rtfd/readthedocs.org/issues/4057
sphinx==1.6.7
#
### numpydoc fixed at 0.0.6
### Version 0.7.0 breaks citations
numpydoc == 0.6
#
### scipy 0.19.0 has a memory leak in quad,
### see github.com/scipy/scipy/pull/7216.
scipy != 0.19.0
