name: linkcheck

# Only build PRs, the main branch, and releases.
on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    - cron: "14 14 20 * *"

# Cancel any previous run of the test job.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linkcheck:

    runs-on: ubuntu-latest
    continue-on-error: true

    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.13"

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[docs]

      - name: Check links
        shell: bash -l {0}
        run: make linkcheck
