name: linux

# Only build PRs, the main branch, and releases.
on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    - cron: "14 14 20 * *"

# Use bash by default in all jobs
defaults:
  run:
    # Using "-l {0}" is necessary for conda environments to be activated
    # But this breaks on MacOS if using actions/setup-python:
    # https://github.com/actions/setup-python/issues/132
    shell: bash

# Cancel any previous run of the test job.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:

    name: ${{ matrix.case.os }} py${{ matrix.case.python-version }} ${{ matrix.case.name }}
    runs-on: ${{ matrix.case.os }}-latest

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, ]  # macos, windows]  # Only Linux currently.
        case:
          - python-version: "3.11"
            name: minimal
            os: ubuntu
            conda: "numba 'scipy=1.10' scooby libdlf"
            test: ""
          - python-version: "3.12"
            name: plain
            os: ubuntu
            conda: "numba 'scipy>=1.10' scooby libdlf"
            test: ""
          - python-version: "3.12"
            name: full
            os: ubuntu
            conda: "numba 'scipy>=1.10' scooby libdlf matplotlib pytest-mpl"
            test: "--mpl"
          - python-version: "3.13"
            name: plain
            os: ubuntu
            conda: "numba 'scipy>=1.10' scooby libdlf"
            test: ""
          - python-version: "3.13"
            name: full
            os: ubuntu
            conda: "numba 'scipy>=1.10' scooby libdlf matplotlib pytest-mpl"
            test: "--mpl"
          - python-version: "3.14"
            name: plain
            os: ubuntu
            conda: "numba 'scipy>=1.10' scooby libdlf"
            test: ""
          - python-version: "3.14"
            name: full
            os: ubuntu
            conda: "numba 'scipy>=1.10' scooby libdlf matplotlib pytest-mpl"
            test: "--mpl"

    env:
      # Used for coveralls flag
      OS: ${{ matrix.case.os }}
      PYTHON: ${{ matrix.case.python-version }}

    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          # Need to fetch more than the last commit so that setuptools-scm can
          # create the correct version string. If the number of commits since
          # the last release is greater than this, the version still be wrong.
          # Increase if necessary.
          fetch-depth: 100
          # The GitHub token is preserved by default but this job doesn't need
          # to be able to push to GitHub.
          persist-credentials: false

      # Need the tags so that setuptools-scm can form a valid version number
      - name: Fetch git tags
        run: git fetch origin 'refs/tags/*:refs/tags/*'

      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v3.2.0
        with:
          auto-update-conda: true
          python-version: ${{ matrix.case.python-version }}
          miniforge-version: "latest"

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes --set changeps1 no
          conda config --show-sources
          conda config --show
          conda info -a
          conda install ${{ matrix.case.conda }} pytest pytest-cov pytest-console-scripts coveralls flake8 flake8-pyproject setuptools-scm

      - name: Conda list
        shell: bash -l {0}
        run: conda list

      - name: Flake8
        shell: bash -l {0}
        run: flake8 docs/conf.py empymod/ tests/ examples/

      - name: Test with pytest
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          make install
          cp ./tests/matplotlibrc ./.
          pytest --cov=empymod ${{ matrix.case.test }}

      - name: Coveralls
        # [pin @develop@20240509]
        uses: AndreMiras/coveralls-python-action@65c1672f0b8a201702d86c81b79187df74072505
        with:
          parallel: true
          flag-name: ${{ matrix.case.python-version }} ${{ matrix.case.name }} (${{ matrix.case.os }})


  coveralls_finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      # [pin @develop@20240509]
      uses: AndreMiras/coveralls-python-action@65c1672f0b8a201702d86c81b79187df74072505
      with:
        parallel-finished: true

  deploy:
    needs: test
    name: Deploy to PyPI
    runs-on: ubuntu-latest
    # Only from the origin repository, not forks; only main and tags.
    if: github.repository_owner == 'emsig' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          # Need to fetch more than the last commit so that setuptools-scm can
          # create the correct version string. If the number of commits since
          # the last release is greater than this, the version will still be
          # wrong. Increase if necessary.
          fetch-depth: 100
          # The GitHub token is preserved by default but this job doesn't need
          # to be able to push to GitHub.
          persist-credentials: false

      # Need the tags so that setuptools-scm can form a valid version number
      - name: Fetch git tags
        run: git fetch origin 'refs/tags/*:refs/tags/*'

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build setuptools-scm

      - name: Build source and wheel distributions
        if: github.ref == 'refs/heads/main'
        run: |
          # Change setuptools-scm local_scheme to "no-local-version" so the
          # local part of the version isn't included, making the version string
          # compatible with Test PyPI.
          sed --in-place 's/version_file/local_scheme = "no-local-version"\nversion_file/g' pyproject.toml

      - name: Build source and wheel distributions
        run: |
          # Build source and wheel packages
          python -m build
          echo ""
          echo "Generated files:"
          ls -lh dist/

      - name: Publish to Test PyPI
        if: success()
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_PASSWORD }}
          repository_url: https://test.pypi.org/legacy/
          # Allow existing releases on test PyPI without errors.
          # NOT TO BE USED in PyPI!
          skip_existing: true

      - name: Publish to PyPI
        # Only for releases
        if: success() && github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
